<!DOCTYPE html>
<html>
<head>
<title>Set Budget</title>
<style>
body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
padding-top:100px;
}
form{
background:white;
padding:30px;
display:inline-block;
border-radius:10px;
}
input{
padding:10px;
margin:10px;
}
button{
padding:10px 20px;
background:#ff5200;
color:white;
border:none;
}
</style>
</head>

<body>

<h2>Set Your Food Budget</h2>

<form method="post">

<input type="number" name="budget" placeholder="Enter Budget" required>

<br>

<button type="submit">Save Budget</button>

</form>

</body>
</html>

