<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<style>
body{
font-family:Arial;
background:#f2f2f2;
text-align:center;
padding-top:100px;
}
form{
background:white;
padding:30px;
display:inline-block;
border-radius:10px;
}
input{
display:block;
margin:10px;
padding:10px;
width:200px;
}
button{
padding:10px 20px;
background:#ff5200;
color:white;
border:none;
}
</style>
</head>

<body>

<h2>Create Account</h2>

<form method="post">

<input type="text" name="name" placeholder="Name" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Register</button>

</form>

</body>
</html>

